.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }

  .img-container {
    margin-bottom: 20px; 
  }
  
  .img-container img {
    width: 200px; 
    height: auto; 
    border-radius: 50%; 
  }
  
  .text-container {
    text-align: justify; 
    font-size: 16px;
    margin-bottom: 20px; 
  }
  @media (max-width: 768px) {
    .card-body {
      padding: 20px; /* Add padding for better spacing */
    }
  
    .img-container img {
      max-width: 100%; /* Ensure the image scales with the container */
    }
  
    .text-container {
      font-size: 14px; /* Reduce font size for better readability on small screens */
    }
  }