/* Home.css */
.home {
    border-radius: 10px;
  }

.home-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-row {
    display: flex;
    gap: 24px; /* Adjust the gap between icons if needed */
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
/*   
@media only screen and (min-width: 280px) and (max-width: 467px) {

    .skillsHeader {
        text-align: center;
    }
} */