.card {
    display: flex;
    flex-direction: column;
  }
.mockup-phone {
    flex-grow: 1;
    padding-bottom: 20px; /* Add padding to prevent content from overlapping the footer */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the available height */
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 200px;
  }