
.navbar-primary {
 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 

    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    align-items: center; 
  }
  
  .navbar-logo {
    font-size: 24px; 
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu-item {
    display: inline-block;
    margin-right: 20px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    margin-right: 10px; 
  }

  .navbar-text {
    display: flex;
    justify-content: center;
    margin-left: 220px;
    flex-grow: 1; 
    font-size: 50px;
    font-weight: bold;
    color: #53b157aa;
  }

  .label-text {
    font-size: 20px;
    font-weight: bold;
    color: #53b157aa;
    padding-right: 10px;
  }
  
  
