

h2 {
  font-size: 3rem;

  line-height: 1.2;
  margin-bottom: 1rem;
}
p {
  font-size: 1.25rem;
 
  line-height: 1.5;
  margin-bottom: 1rem;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
} 

 @media only screen and (max-width: 900px) {
  .div {
    display: flex;
    flex-direction: column; 
  } 
  .footer {
    display: flex;
    flex-direction: column; 
  }

  
}