
/* 

.carousel-item .image-container {
    position: relative;
    width: 100%;
}


.carousel-item .hover-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    color: white;
    padding: 80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.carousel-item:hover .hover-text {
    opacity: 1;
}

h2 {
    font-size: 3rem;
  
    line-height: 1.2;
    margin-bottom: 1rem;
}
p {
    font-size: 1.25rem;
   
    line-height: 1.5;
    margin-bottom: 1rem;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .highlighted {
    background-color: yellow;
    font-weight: bold;
  } */
  .div {
    display: block;
    position: relative;
    top: -2px;
    height: 200px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1647 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(112, 128, 187, 1)" d="M 0 200 C 834 200 0 110 834 110 L 834 110 L 834 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(112, 128, 187, 1)" d="M 833 110 C 1663 110 833 0 1663 0 L 1663 0 L 1663 0 L 833 0 Z" stroke-width="0"></path> </svg>');
    background-size: cover;
    background-repeat: no-repeat;
   }
   
   @media (max-width:1646px) {
    .div {
      background-size: contain;
    }
   }
   

   